/* CSS styles for the chart */
.axis-x path,
.axis-y path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis-x .tick line,
.axis-y .tick line {
    stroke: #ccc;
}

.axis text {
    font-size: 11px;
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    background:blue;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease;
}

#bar_chart {
  width: 820px;
  max-width: 100%;
  margin: 0 auto;
  /* overflow-x: auto; */
}

#bar_chart svg {
  display: block;
}

#line_chart {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

#line_chart svg {
  display: block;
  margin: 0 auto;
}