/* CSS styles for the chart */
.bar {
    fill: blue;
}
/* .bar:hover {
    fill: orange;
} */
.axis-x path,
.axis-y path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis-x .tick line,
.axis-y .tick line {
    stroke: #ccc;
}

.axis text {
    font-size: 11px;
}

body {
  margin: 0;
}

h1,
h2,
p {
  text-align: center;
}

#bar_chart {
  width: 820px;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

#bar_chart svg {
  display: block;
}